* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

button {
  background-color: white;
  border: 0.25rem solid black;
  border-radius: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
  width: 30rem;
  height: 4rem;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr.even {
  background-color: #f9f9f9;
}

tr.odd {
  background-color: #fff;
}

.createdQuizFormInput > label {
  font-family: Montserrat, sans-serif;
  margin-left: 1rem;
}

.navBarBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
}

.headerFont {
  font-family: Montserrat, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  text-decoration: none;
}

.logo {
  height: 5rem;
  width: 5rem;
  margin-left: 0.5rem;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 240px;
  cursor: pointer;
}

.navBar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 0.5rem 0.5rem 0.5rem darkgrey;
}

.navBarNoScroll {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  box-shadow: 0.5rem 0.5rem 0.5rem darkgrey;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navBarContainer {
  background-color: black;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  height: 100%;
}

.navIcon {
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

.navIcon:hover {
  transform: scale(1.1);
}

.questions {
  margin-top: 0.2rem;
  width: 75%;
}

.indicatorBox {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.indicator {
  border-radius: 50%;
  border: 0.25rem solid black;
  width: 50px;
  height: 50px;
  margin: 0.25rem;
}

.correctIndicator {
  background-color: green;
}

.incorrectIndicator {
  background-color: red;
}

.questionText {
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.questionBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}

.correctAnswerButton {
  border: 0.25rem solid green;
  background-color: rgb(34, 190, 34);
  border-radius: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
  width: 30rem;
  height: 4rem;
  cursor: not-allowed;
}

.incorrectAnswerButton {
  border: 0.25rem solid red;
  background-color: rgb(227, 85, 85);
  border-radius: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
  width: 30rem;
  height: 4rem;
  cursor: not-allowed;
}

.postSelectionAnswerButton {
  border: 0.25rem solid black;
  background-color: white;
  border-radius: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
  width: 30rem;
  height: 4rem;
  cursor: not-allowed;
}

.answerButton:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: lightgray;
}

.answersBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  height: 100vh;
}

.modal {
  height: 425px;
  width: 525px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #faf9f6;
  font-family: Montserrat, sans-serif;
}

.textBox {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.accountInfoBox {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.userInfoBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
}

.memberSinceText {
  color: goldenrod;
  font-size: 1rem;
}

.loggedInLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountDetails {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80%;
}

.bottomBorder {
  border-bottom: 2px solid black;
}

.headerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBox > h1 {
  font-size: 2rem;
}

.resultTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.resultTextBox > p {
  margin: 0;
  font-size: 1.5rem;
}

.submitButton {
  color: white;
  background-color: #001f3f;
  border: none;
  border-radius: 10px;
  height: 2.2rem;
  width: 10.1rem;
  font-weight: 300;
  font-size: 1rem;
  padding: 0;
  margin: 1rem;
  cursor: pointer;
}

.signOutButton {
  color: white;
  background-color: #001f3f;
  border: none;
  border-radius: 10px;
  height: 1.8rem;
  width: 4rem;
  font-weight: 300;
  font-size: 0.75rem;
  padding: 0;
  margin: 1rem;
  cursor: pointer;
}

.submitButton:hover,
.signOutButton:hover {
  box-shadow: 1px 1px 1px grey;
}

.loginFormBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.loginFormInput {
  background-color: #faf9f6;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 20rem;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.25rem 0.2rem;
  margin: 0.75rem;
}

.newUserLinkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.textLink {
  color: #00e;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  margin-top: 2rem;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 75%;
}

.helpHeaderIcon {
  font-size: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0.5rem;
}

.helpIcon {
  font-size: 2rem;
}

.helpText {
  font-size: 1.3rem;
}

.optionalResultsText {
  text-align: center;
}

h4 {
  margin-left: 0.3rem;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0 5rem 5rem;
}

.createdQuizInputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.75rem;
}

.createdQuizAnswerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  font-family: Montserrat, sans-serif;
  margin-left: 1.5rem;
}

.createdQuizFormInput {
  background-color: none;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 40rem;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.25rem 0.2rem;
}

.myQuizzesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100vh;
}

.userQuizzesHeaderBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  height: auto;
}

.myQuizzesHeader {
  flex-basis: calc(100% / 3);
  font-size: 1.2rem;
  text-align: center;
}

.linkBox {
  flex-basis: calc(100% / 3);
  text-align: center;
  cursor: pointer;
}

.userQuizBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}

.userQuizCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  height: auto;
  flex-basis: calc(100% / 3);
  cursor: pointer;
  margin-bottom: 1rem;
}

.quizNameBoxWithByLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 275px;
  margin: 0.5rem;
}

.quizNameBoxWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  margin: 0.5rem;
}

.quizNameWithByLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 2.75rem;
}

.quizNameWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quizText {
  font-size: 1rem;
  flex-basis: 95%;
  text-align: center;
}

.editIcon {
  font-size: 1rem;
  flex-basis: 1%;
  text-align: end;
}

.editIcon:hover {
  transform: scale(1.09);
}

.userQuizImg {
  height: 275px;
  width: 275px;
  box-shadow: 3px 3px 3px grey;
  object-fit: cover;
}

.deleteModalContainer {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.deleteModal {
  height: 275px;
  width: 350px;
  border: 5px solid black;
  border-radius: 10%;
  background-color: #faf9f6;
  font-family: Montserrat, sans-serif;
}

.deleteBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.deleteBox > button {
  border: 0.25rem solid black;
  border-radius: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0;
  width: 6rem;
  height: 3rem;
  text-align: center;
  cursor: pointer;
}

.deleteBox > p {
  text-align: center;
}

.deleteQuizText {
  color: red;
  text-decoration: underline;
}

.yes {
  background-color: red;
  color: white;
}

.no {
  background-color: green;
  color: white;
}

.leaderboardBox {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (width <=768px) {
  .indicator {
    border-radius: 50%;
    border: 0.15rem solid black;
    width: 36px;
    height: 36px;
    margin: 0.25rem;
  }

  button {
    background-color: white;
    border: 0.25rem solid black;
    border-radius: 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.5rem 2rem;
    margin: 1rem;
    width: 25rem;
    height: 3rem;
    cursor: pointer;
  }

  .answerButton:hover {
    background-color: white;
  }

  .correctAnswerButton {
    border: 0.25rem solid green;
    background-color: rgb(34, 190, 34);
    border-radius: 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.5rem 2rem;
    margin: 1rem;
    width: 25rem;
    height: 3rem;
    cursor: not-allowed;
  }

  .incorrectAnswerButton {
    border: 0.25rem solid red;
    background-color: rgb(227, 85, 85);
    border-radius: 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.5rem 2rem;
    margin: 1rem;
    width: 25rem;
    height: 3rem;
    cursor: not-allowed;
  }

  .postSelectionAnswerButton {
    border: 0.25rem solid black;
    background-color: white;
    border-radius: 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.5rem 2rem;
    margin: 1rem;
    width: 25rem;
    height: 3rem;
    cursor: not-allowed;
  }

  .questionText {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  .questionBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
  }

  .logo {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 5px;
    margin-top: 3px;
  }

  .headerFont {
    font-family: Montserrat, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    text-decoration: none;
  }

  .logoBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 150px;
    cursor: pointer;
  }

  .iconBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
    height: 100%;
  }

  .navIcon {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navBarBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .modal {
    height: 425px;
    width: 325px;
    border: 1px solid black;
    border-radius: 10%;
    background-color: #faf9f6;
    font-family: Montserrat, sans-serif;
  }

  .headerBox > h1 {
    font-size: 1.5rem;
  }

  .resultTextBox > p {
    font-size: 1rem;
  }

  .textLink {
    font-size: 0.75rem;
  }

  .loginFormInput {
    background-color: #faf9f6;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 15rem;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.25rem 0.2rem;
  }

  .topRow > h1 {
    font-size: 1.2rem;
  }

  .helpHeaderIcon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
  }

  .helpIcon {
    font-size: 1.5rem;
  }

  .helpText {
    font-size: 0.9rem;
  }

  .userInfoBox > h1 {
    font-size: 1.5rem;
  }

  .accountDetails > h3 {
    font-size: 1.3rem;
  }

  .memberSinceText {
    font-size: 0.75rem;
  }

  .accountDetailBox > p {
    font-size: 0.65rem;
  }

  .loggedInLinks {
    font-size: 0.6rem;
  }

  .newUserLinkBox > p {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
  }

  .headerBox {
    margin: 0;
  }

  .optionalResultsText {
    text-align: center;
    font-size: 0.75rem;
  }

  .accountInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }

  .myQuizzesContainer {
    justify-content: start;
  }

  .myQuizzesHeader {
    font-size: 1.2rem;
  }

  .userQuizCard {
    width: 175px;
    margin: 2rem;
  }

  .userQuizImg {
    height: 175px;
    width: 175px;
    box-shadow: 3px 3px 3px grey;
    object-fit: cover;
  }

  .quizNameBoxWithIcon {
    width: 175px;
  }

  .quizNameBoxWithByLine {
    width: 175px;
  }

  .createdQuizAnswerBox {
    width: 15rem;
  }

  .createdQuizFormInput {
    width: 20rem;
  }

  .deleteModal {
    height: 200px;
    width: 250px;
  }

  .deleteBox > button {
    background-color: white;
    border: 0.25rem solid black;
    border-radius: 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0;
    margin: 0.5rem;
    width: 4rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
  }
}
