* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
  border: 0.25rem solid black;
  border-radius: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
  width: 30rem;
  height: 4rem;
  cursor: pointer;
}

.navBarBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.headerFont {
  font-family: Montserrat, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 220px;
  cursor: pointer;
}

.navBar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  box-shadow: 0.5rem 0.5rem 0.5rem darkgrey;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
  height: 100%;
}

.navIcon {
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

.navIcon:hover {
  transform: scale(1.1);
}

.questions {
  margin-top: 0.2rem;
}

.indicatorBox {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.indicator {
  border-radius: 50%;
  border: 0.25rem solid black;
  width: 50px;
  height: 50px;
  margin: 0.25rem;
}

.correctIndicator {
  background-color: green;
}

.incorrectIndicator {
  background-color: red;
}

.questionText {
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.questionBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  border: 0.25rem solid green;
}

.incorrect {
  border: 0.25rem solid red;
}

.answerButton:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: lightgray;
}

.answersBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.resultsModal {
  height: 500px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #faf9f6;
  font-family: Montserrat, sans-serif;
}

.textBox {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.headerBox {
  display: flex;
}

.headerBox > h1 {
  margin: 0;
  font-size: 2.5rem;
}

.resultTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultTextBox > p {
  margin: 0;
  font-size: 2rem;
}
